%ul
  %li= link_to "Activities", activities_path
  %li= link_to "Create an Activity", new_activity_path
  %li= link_to "Logged Activities", logged_activities_path
  %li= link_to "Log an Activity", new_logged_activity_path
