%table
  %tr
    %th Activity
    %th Duration
    %th Intensity
    %th Points
    %th{ colspan: 2 }
  = render partial: "logged_activity", collection: @logged_activities

%p= link_to "Log an Activity", new_logged_activity_path

